<!doctype html>
<html>
<head>
<meta charset="utf-8" />
<title><%= htmlWebpackPlugin.options.title %></title>
<meta name="author" content="μKöff" />
<meta name="viewport" content="initial-scale=1.0,user-scalable=yes,width=device-width" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,700" /> 
<link rel="stylesheet" crossorigin="anonymous" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css" integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA==" />
<link rel="stylesheet" href="data/css/style.css" /> 
</head>

<body>
<div id="content">
	<main>
		<aside id="item-aside">
			<header id="header-main">
				<h1><%= htmlWebpackPlugin.options.title %></h1>
			</header>
			<div id="page-geocoding" class="aside-page">
				<header class="aside-header">
					<h2><span>Search requests</span></h2>
				</header>
				<div class="content-padding">
					<input id="geocoding-query" type="text" />
					<div id="geocoding-results"></div>
				</div>
			</div>
			<div id="page-settings" class="aside-page">
				<header class="aside-header">
					<h2><span>Settings</span></h2>
				</header>
				<div class="content-padding">

				</div>
			</div>
			<div id="page-tags" class="aside-page visible">
				<header id="item-header" class="loadingindicator">
					<div id="item-header-top" class="aside-header">
						<div id="item-header-top-image"></div>
						<h2><span>Welcome!</span></h2>
					</div>
					<div id="item-loadingindicator-wrapper" class="loadingindicator">
						<div id="item-loadingindicator"></div>
					</div>
				</header>
				<div id="errormsg-wrapper">
					<ul></ul>
				</div>
				<div id="item-main">
					<div id="item-logo-wrapper">
						<div id="item-logo"></div>
					</div>
					<div id="item-tags">
						<div class="content-padding">
							<p>Welcome to <%= htmlWebpackPlugin.options.title %>.</p>
							<p>The goal of this projects is to showcase the possible synergy effects of combining OpenStreetMap and Wikidata and filling gaps in OSM data by the help of Wikidata.</p>
							<p>This project is still work in progress (and actually my very first TypeScript project on top) so expect things to break.</p>
							<p>To get started please zoom in.</p>
						</div>
					</div>
				</div>
			</div>
			<footer id="footer">
				<div id="footer-attribution">
					<strong>Data taken from:</strong>
					<a href="https://osm.org/" rel="noopener noreferrer" target="_blank"><img alt="OpenStreetMap logo" height="18" src="https://upload.wikimedia.org/wikipedia/commons/b/b0/Openstreetmap_logo.svg" /></a>
					<a href="https://wikidata.org/" rel="noopener noreferrer" target="_blank"><img alt="Wikidata logo" height="18" src="https://upload.wikimedia.org/wikipedia/commons/f/ff/Wikidata-logo.svg" /></a>
					<a href="https://commons.wikimedia.org/" rel="noopener noreferrer" target="_blank"><img alt="Wikimedia Commons logo" height="18" src="https://upload.wikimedia.org/wikipedia/commons/4/4a/Commons-logo.svg" /></a>
				</div>
				<div id="footer-legal">
					<a href="https://nw520.de/legal/" rel="noopener noreferrer" target="_blank">Imprint</a> &bull; <a href="https://nw520.de/privacy" rel="noopener noreferrer" target="_blank">Privacy policy</a> &bull; <a href="https://gitlab.com/muekoeff/intertwined-map" rel="noopener noreferrer" target="_blank">Source code</a> &bull; <a href="https://gitlab.com/muekoeff/intertwined-map/boards" rel="noopener noreferrer" target="_blank">Issue & feature board</a>
				</div>
			</footer>
		</aside>
		<div id="map-wrapper">
			<div id="map"></div>
		</div>
	</main>
</div>
</body>
</html>
